@model QRMascotas.context.DuenoAlternativo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <div class="card mb-2">
        <div class="card-header bg-primary">
            <h5 class="text-center text-white">Modificar datos de Dueño alternativo <i class="fa-solid fa-paw"></i></h5>
        </div>
    </div>
<hr />

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdDuenoAlternativo" />

        <div class="row mb-2">
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="ApellidoP" class="control-label">Apellido paterno</label>
                    <input asp-for="ApellidoP" class="form-control" />
                    <span asp-validation-for="ApellidoP" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="ApellidoM" class="control-label"></label>
                    <input asp-for="ApellidoM" class="form-control" />
                    <span asp-validation-for="ApellidoM" class="text-danger"></span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Contacto" class="control-label"></label>
                    <input asp-for="Contacto" class="form-control" />
                    <span asp-validation-for="Contacto" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="form-group text-center">
                    <button type="submit" value="Save" class="btn btn-outline-primary mb-1 align-items-center">Modificar dueño alternativo</button>
                </div>
            </div>
        </div>
        </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
