@model QRMascotas.ClasesModelo.Mascotax

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/LayoutQrMascotas.cshtml";
}

<div class="text-center mt-3">
        <h3>Agregar una mascota 🐶 🐱</h3>
    </div>

<h4>Datos de la mascota <i class="fa-solid fa-paw"></i> </h4>

<form asp-action="Create" enctype="multipart/form-data">
   <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row w-100 mt-2">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" placeholder="Pelusa" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" placeholder="Gris atigrado con blanco" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="IdEspecie" class="control-label">Especie</label>
                <select asp-for="IdEspecie" class="form-select" asp-items="ViewBag.IdEspecie"></select>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Genero" class="control-label">Género</label>
                <select id="Genero" name="Genero" asp-for="Genero" class="form-select">
                    <option selected>Selecciona una opción</option>
                    <option value="true">Macho</option>
                    <option value="false">Hembra</option>
                </select>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Esterilizado" class="control-label">¿Está esterilizado/a?</label>
                <select id="Esterilizado" name="Esterilizado" class="form-select">
                    <option selected>Selecciona una opción</option>
                    <option value="true">Sí</option>
                    <option value="false">No</option>
                </select>
            </div>
        </div>

        <div class="col-4 text-center">
            <div class="text-center">
                <img id="imagePreview" src="~/Images/default.jpg" class="rounded img-thumbnail w-50 h-auto" alt="Imagen de la mascota">
            </div>
            <div class="text-center mt-1">
                <label for="formFileSm" class="form-label">Sube una foto de tu mascota aquí❗</label>
                <input asp-for="ImagenUrl" class="form-control form-control-sm" id="formFileSm" type="file" onchange="previewFile()">
            </div>
        </div>
    </div>
    

    <div class="row w-100 mt-0">
        <div class="col-6">
            <label asp-for="DatosExtra" class="form-label">Datos extra</label>
            <textarea asp-for="DatosExtra" class="form-control" placeholder="Alérgico a la canela"></textarea>
            <span asp-validation-for="DatosExtra" class="text-danger"></span>
        </div>
        <div class="col-6">
            <label asp-for="Importante" class="form-label">Importante ⚠️</label>
            <textarea asp-for="Importante" class="form-control" placeholder="Diabético, medicado con..."></textarea>
            <span asp-validation-for="Importante" class="text-danger"></span>
        </div>
    </div>
    <div class="row w-100 mt-3">
        <div class="col-6 d-flex justify-content-start align-items-start">
            <a asp-action="Index" class="w-25 btn btn-outline-primary mb-1 align-items-center">Volver <i class="fa-solid fa-rotate-left"></i></a>
        </div>
        <div class="col-6">
            <div class="form-group d-flex justify-content-end align-items-end">
                <button type="submit" value="Create" class="btn btn-outline-success mb-1 align-items-center">Agregar mascota <i class="fa-solid fa-plus"></i></button>
            </div>
        </div>
    </div>
    
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/JavaScript.js" asp-append-version="true"></script>
}
