@model QRMascotas.ClasesModelo.Mascotax

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/LayoutQrMascotas.cshtml";
}

    <div class="d-flex justify-content-center align-items-center mt-3">
        <h3>Agregar una mascota 🐶 🐱</h3>
    </div>

<h4>Datos de la mascota</h4>
<hr />

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             
            <div class="row w-100">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="IdEspecie" class="control-label">Especie</label>
                        <select asp-for="IdEspecie" class="form-control" asp-items="ViewBag.IdEspecie"></select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="FechaNac" class="control-label"></label>
                <input asp-for="FechaNac" class="form-control" />
                <span asp-validation-for="FechaNac" class="text-danger"></span>
                    </div>
                </div>
            </div>          
            
            
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Genero" /> @Html.DisplayNameFor(model => model.Genero)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
            <input class="form-check-input" asp-for="EsterilizadoTexto" /> @Html.DisplayNameFor(model => model.EsterilizadoTexto)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DatosExtra" class="control-label"></label>
                <input asp-for="DatosExtra" class="form-control" />
                <span asp-validation-for="DatosExtra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Importante" class="control-label"></label>
                <input asp-for="Importante" class="form-control" />
                <span asp-validation-for="Importante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qr" class="control-label"></label>
                <input asp-for="Qr" class="form-control" />
                <span asp-validation-for="Qr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
   
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
