@model QRMascotas.context.Mascota

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scanme</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Añadir Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QRMascotas.styles.css" asp-append-version="true" />


</head>

<body>
    
    <div class="card border-info mb-3">
        <div class="card-header">
            <i class="fa-solid fa-triangle-exclamation"></i>
        </div>
        <div class="card-body">
            <h5 class="card-title">Información importante</h5>
            <p class="card-text"> @Html.DisplayFor(model => model.Importante)</p>
        </div>
    </div>
    <div class="card border-info mb-3">
        <div class="card-header"><i class="fa-solid fa-lightbulb"></i></div>
        <div class="card-body">
            <h5 class="card-title">Datos extra</h5>
            <p class="card-text">@Html.DisplayFor(model => model.DatosExtra)</p>
        </div>
    </div>    
       
</body>
</html>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="~/js/JavaScript.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}


